*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  background-color: #f4f4f4;
}

body {
  background-color: #241D24;
}

#hero {
  background: url("Images/Skyline.JPG");
  width: 1100px;
  margin: 0 auto;
  height: 535px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  text-align: center;
}

h1 {
  user-select: none;
  font-family: Inter, sans-serif;
  color: #fec065;
  position: relative;
  overflow: hidden;
}

h1 span {
  display: block;
  transition: 0.6s;
  transition-delay: 0.2s;
}

#h1-top {
  font-size: 5.7rem;
  font-weight: 600;
  position: relative;
  left: -80px;
  top: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

#h1-btm {
  font-size: 13rem;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* -------------------------- Hover Change to English------------------------------ */

h1::before {
  content: "Guwahati";
  font-family: "Major Mono Display", serif;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 12rem;
  top: 115px;
  left: 0;
  opacity: 0;
  transform: translate(0, -50%);
  transition: 0.3s, opacity 0.2s;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

h1 #h1-btm,
h1 #h1-top {
  transition: 0.2s, opacity 0.1s;
  transition-delay: 0.2s;
}

h1:hover #h1-btm,
h1:hover #h1-top {
  opacity: 0;
  transform: scale(0.3);
  transform: translate(0, 50%);
}

h1:hover:before,
h1:hover:after {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.4s;
}

h1::after {
  content: "city of temples";
  font-family: "Major Mono Display", serif;
  position: absolute;
  top: 70px;
  left: 280px;
  font-size: 4.5rem;
  text-align: center;
  transform: translate(0, -50%);
  opacity: 0;
  transition: 0.3s, opacity 0.2s;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* -------------------------- Hover Change to English------------------------------ */

.tagline {
  background-color: #4c2749;
  position: relative;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.9);
  font-family: NilamaniUni, sans-serif;
  width: 522px;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#tagline-el {
  transition: all 0.3s;
}

.main-container {
  margin-inline: auto;
  padding: 2rem 2rem 6rem 2rem;
  width: 1100px;
  background-color: #4c2749;
}

.section-title {
  font-size: 2.7rem;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  background-color: #6e366a;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  padding: 1.5rem 2rem;
  margin: 4rem auto 6rem auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.item-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.item {
  background: linear-gradient(
    168.23deg,
    rgba(255, 255, 255, 0.15) -4.41%,
    rgba(255, 255, 255, 0.1) 100.17%
  );
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  padding: 2rem;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.item:hover {
  position: relative;
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.item-image {
  width: 200px;
  object-fit: cover;
  height: 190px;
  border-radius: 6.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.item:hover .item-image {
  transform: translate(0, -2%);
  transform: scale(1.5);
  border-radius: 5px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.4);
}

.item-title {
  font-size: 2.2rem;
  font-weight: 600;
  width: 250px;
  margin-top: 1.7rem;
  color: #fb8639;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.item-description {
  font-size: 1.8rem;
  font-weight: 400;
  width: 260px;
  margin-top: 1.7rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
}

.section-title:last-of-type {
  margin: 6rem auto 6rem auto;
}

footer {
  padding: 0 0 6rem 0;
  margin-inline: auto;
  width: 1100px;
  background-color: #4c2749;
}

#last-section-title {
  margin: 0 auto 6rem auto;
}

.footer-container {
  width: 1100px;
  display: flex;
  justify-content: center;
}

.guide-card-container {
  background: linear-gradient(135deg, #9b4d53 -15%, #3b2047 100%);
  width: 600px;
  height: 350px;
  margin-inline: auto;
  border: 2px solid #fb8639;
  padding: 5rem 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.guide-card {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5rem;
}

.right {
  flex-basis: 45%;
}

.guide-card img {
  width: 211px;
  border-radius: 95px;
}

.guide-card-title {
  font-size: 2.2rem;
  font-weight: 500;
  color: white;
}

.guide-card-description {
  color: #ffe985;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 400;
  margin: 3rem 0;
}

.guide-name {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
}

.btm-border {
  background: linear-gradient(135deg, #ffe985 0%, #fa742b 100%);
  height: 30px;
  width: 120%;
  position: relative;
  bottom: -60px;
  z-index: 2;
}

/* ------------------------Social Icons----------------------- */

.social-text {
  font-size: 2rem;
  text-align: center;
  color: var(--body-darkgray);
}

.social-icon {
  display: block;
  transition: 0.2s;
}

.social-icon:hover {
  transform: translate(0, -5%);
  transition: 100ms;
}

.social-icon:active {
  transform: translate(0, 0);
}

.icon-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 4rem 0;
  flex-basis: 20%;
}

.social-icon img {
  width: 100%;
  max-width: 50px;
}
